html {
    background-color: #1c1c1c;
    color: #e6e6e6;
    line-height: 180%;
    font-size: 145%;
}

hr {
    margin-left: 0;
    margin-right: 3%;
}

.start {
    display: flex;
    justify-content:left;
    margin-top: 10%;
    width: 100%;
}

.sticky-head {
    display: flex;
    position: fixed;
    background-color: #1c1c1c;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 9999;
}

a {
    text-decoration: none;
    color: #e6e6e6;
}

p {
    font-size: 120%;
}

h1 {
    padding-right: 5%;
    padding-top: 2%;
    font-size: 150%;
}

.color {
    color: #1c1c1c;
}

section {
    margin-top: 0%;
}

.gif {
    margin-top: 0;
    display: flex;
    filter: invert(100%);
    width: 200px;
    margin-left: 1%;
    margin-right: 1%;
}

.who {
    margin-left: 16%;
    margin-right: 5%;
    margin-top: 15%;
    width: 840px;
    margin-bottom: 0.5px;
}

.controversy {
    margin-left: 12%;
    margin-right: 62%;

}

footer {
    margin-bottom: 1%;
    margin-left: 1%;
    margin-top: 3%;
    font-size: 70%;
}

.size {
    width: 30%;
}

#who, #controversy, #history {
    padding-top: 20%;
}

a:hover {
    font-size: 110%;
    color: #9695a0;
}

.timeline {
    color: black;
    padding-top: 20%;
}

/*images*/

.bob {
    float: right;
    margin-left: 2%;
    margin-bottom: 2%;
}

.sterling {
    float: right;
    margin-left: 2%;
    margin-top: 2%;
    width: 25%;
}

.protest {
    float: right;
    margin-left: 2%;
    margin-top: 2%;
    width: 50%;
}

.free {
    float: right;
    margin-left: 2%;
    margin-top: 2%;
    width: 50%;
}

.pixel {
    width: 50%;
}

.sandeigo {
    margin-left: 15%;
    width: 70%;   
}

.buffalo {
    margin-left: 5%;
    width: 70%;
}

/*timeline*/
.timeline {
    position: relative;
    max-width: 1200px;
    margin-bottom: 5%;
  }
  
.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: #e6e6e6;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: 17.5%;
}
  
.container {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
    margin-left: 15%;

}
  
/* The circles on the timeline */
.container::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -3.5%;
    background-color: #e6e6e6;
    border: 4px solid #e6e6e6;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
    margin-left: 15%;

}
  
/* Place the container to the left */
  .left {
    left: -6.8%;
}
  
/* Place the container to the right */
  .right {
    left: 53%;
}
  
/* arrows pointing right) */
.left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid #e6e6e6;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent #e6e6e6;
}
  
/* arrows pointing left */
  .right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid #e6e6e6;
    border-width: 10px 10px 10px 0;
    border-color: transparent #e6e6e6 transparent transparent;
  }
  
/* Fix the circle for containers on the right side */
  .right::after {
   right: 97%;
}

  .content {
    padding: 44px 30px;
    background-color: #e6e6e6;
    position: relative;
    border-radius: 6px;
  }
  