html {
    font-family: "work-sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 2rem;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

h1 {
    text-align: center;
    padding-top: 3em;
    font-size: 200%;
}

h2 {
    text-align: center;
    font-weight: 300;
    font-size: 115%;
    margin-bottom: 15px;
}

h3 {
    margin-bottom: 0;
    text-align: center;
    font-weight: 500;
    font-size: 160%;
}

h4 {
    margin-top: 20px;
    font-weight: 500;
    text-align: left;
    margin-left: 40px;
    margin-bottom: 0;
    font-size: 100%;
}

h5 {
    margin-bottom: 0;
    margin-top: 60px;
    font-weight: 500;
    font-size: 150%;
    text-align: left;
}

h6 {
    margin-top: 15px;
    margin-bottom: 5px;
    font-weight: 500;
    font-size: 130%;
    color: #9bceff;
}

.direction {
    margin-top: 15px;
    margin-bottom: 5px;
    font-weight: 500;
    font-size: 170%;
    text-align: center;
    color: black;
}

.mont2 {
    padding-left: 18%;
    margin-bottom: 45px;
    margin-top: 30px;
    width: 64%;
    height: 64%;
}

.blah {
    margin-left: 18%;
    margin-right: 18%;
    font-size: 100%;
    margin-top: 7px;
}

.info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 90px;
    margin-left: 18%;
    margin-right: 18%;
    padding: 20px;
    border: 5px solid #daedff;
    font-size: 100%;
}

.column {
    text-align: left;
    padding: 10px;
    margin-left: 18%;
    margin-right: 18%;
    background-color: #daedff;
}

.mont3 {
    margin-left: 3%;
    float: right;
    height: 45%;
    width: 45%;
    margin-right: 5%;
    margin-top: 3%;
}

.ingredients, .materials {
    list-style-type: circle;
    margin: 0;
}

ul {
    list-style-type: none;
    margin-left: -10px;
    margin-right: 20px;
}

.step {
    float: left;
    width: 20%;
    height: 20%;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.step1 {
    float: right;
    width: 20%;
    height: 20%;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.step3 {
    float: right;
    width: 20%;
    height: 20%;
    margin-left: 20px;
    padding-bottom: 20px;
}

.steps {
    border: 5px solid #daedff;
    margin-left: 18%;
    margin-right: 18%;
    padding-bottom: 40px;
    padding-left: 10px;
    padding-right: 10px;
}

.foot {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

@media (max-width: 425px) {
    .mont2 {
        width: 63%;
        height: 63%;
        margin-left: .5%;
        margin-top: 0;
        margin-bottom: 0;
    }

    .info {
        font-size: 80%;
        column-gap: 10px;
    }

    .blah {
        font-size: 80%;
        margin-bottom: 4%;
    }

    h1 {
        font-size: 120%;
        padding-top: 1em;
        margin-bottom: -7px;
    }

    h2 {
        font-size: 80%;
    }

    h3 {
        font-size: 90%;
        text-align: left;
        margin-left: 18%;
    }

    h4 {
        font-size: 100%;
        text-align: center;
        margin-left: 0;
    }

    .steps {
        font-size: 80%;
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 0;
    }
    
    .column {
        font-size: 80%;
    }
    
    .step, .step1, .step3 {
        height: 45%;
        width: 45%;
        margin-left: 5px;
        margin-right: 5px;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .ingredients, .materials {
        padding-left: 10px;
    }
}