    body {
        background-image: url("https://img.freepik.com/free-photo/3d-grunge-room-interior-with-spotlight-smoky-atmosphere-background_1048-11333.jpg?w=2000&t=st=1694550706~exp=1694551306~hmac=a86aa1a91379dac97be5fec8d654da5087f8459fe588eafd5bcb50b3c5c79717");
        background-position: center center;
    }

p.p1 {
    line-height: 1.6;
    color:white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-family: 'Courier New', Courier, monospace;
    color:white;
    text-align: center;
}

h2 {
    font-family: 'Courier New', Courier, monospace;
    color:white;
    text-align: center;
}

h3 {
    font-family: 'Courier New', Courier, monospace;
    color:white;
    text-align: center;
}

main {
    justify-content: center;
    display:grid;
    grid-template-columns: 2fr 2fr;
    column-gap: 50px;
    width: 750px;
    margin-left: auto;
    margin-right: auto;

}
